{% extends 'base.html' %}

{% block title %}- Sign Up{% endblock title %}

{% block content %}
        <div class="container">
            <div><h1 class="signup title">Welcome<br/> to our platform</h1></div>
            <form class="signup_sitter form" method="post" novalidate>
        {% csrf_token %}
            <div class="row">
                <div class="col flex-column">
                    <div class="{% if form.email.errors %}error_field{% endif %}">
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-danger small mb-0 pb-0 mt-2">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="{% if form.password1.errors %}error_field{% endif %}">
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-danger small mb-0 pb-0 mt-2">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="{% if form.password2.errors %}error_field{% endif %}">
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-danger small mb-0 pb-0 mt-2">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col flex-column">
                    <div class="{% if form.phone_number.errors %}error_field{% endif %}">
                        {{ form.phone_number }}
                        {% if form.phone_number.errors %}
                            <div class="text-danger small mb-0 pb-0 mt-2">
                                {{ form.phone_number.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="{% if form.first_name.errors %}error_field{% endif %}">
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger small mb-0 pb-0 mt-2">
                                {{ form.first_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="{% if form.last_name.errors %}error_field{% endif %}">
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="text-danger small mb-0 pb-0 mt-2">
                                {{ form.last_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if form.non_field_errors %}
                    <div class="text-danger small mb-0 pb-0 mt-4">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </div>
            <div class="invalid-feedback">
                {{ form.errors }}
            </div>
            <button type="submit" class="signup_sitter signup_btn">Sign Up</button>
        </form> 
            <div class="signup underbutton position-relative">
            <span>Do you have an account? </span><a href="{% url 'accounts:login' %}" class="signup_client login_btn stretched-link">Log in</a>
        </div>  
        </div>
{% endblock content %}