{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" href="../static/css/header.css">
{% endblock link %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>Web application to manage her employees</h1>
            <div class="button_wrapper d-flex flex-sm-row flex-column justify-content-center mr-auto ml-auto align-items-center">
                <a href="{% url 'accounts:client_signup' %}">
                    <button class="mr-sm-4 client btn btn-light">
                        I’m a client
                    </button>
                </a>
                <a href="{% url 'accounts:sitter_signup' %}">
                    <button class="ml-sm-4 mt-sm-0 mt-4 nanny btn btn-light">
                        I’m a sitter
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
          <div class="offer_text">
            <h2>How does it work?</h2>
            <p>
              Hire trustworthy sitters with confidence. Our platform offers the
              easiest, most direct way to find sitter for you. Safe. Secure.
              Privacy Assured. <a href="#">Start now!</a>
            </p>
          </div>
        </div>
      </div>

      <div class="block4">
        <div class="container">
          <div class="webelieve">
            <h2>What we believe</h2>
            <p>
              We developed this simple and accessible platform with the belief
              that it will help to connect the kind and skillful hands of
              sitters with the paws of our smaller brothers.
              <a href="#">Try it now! </a>
            </p>
          </div>
          <div class="counter">
            <div>
              <h3>41 000</h3>
              <span>Registered clients</span>
            </div>
            <div>
              <h3>56 000</h3>
              <span>Registered sitters</span>
            </div>
            <div>
              <h3>5 000</h3>
              <span>Users online</span>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
