{% extends 'base.html' %}

{% block title %}- Sitters{% endblock title %}

{% block content %}
    <div class="container mt-5 d-flex flex-wrap justify-content-center">
        {% for sitter in sitters %}
            <div class="p-4 rounded-lg text-light position-relative mb-4 mx-2 sitter-card">
                <div class="media align-items-center">
                    <div class="sitter-img mr-3 shadow" style="background-image: url({{ sitter.image.url }});"></div>
                    <div class="media-body mr-3">
                        <h1 class="display-3 font-weight-bold name">{{ sitter.first_name }} {{ sitter.last_name }}</h1>
                        {% if sitter.sitter.description %}
                            <p class="lead">{{ sitter.sitter.description }}</p>
                        {% endif %}
                        <a class="hire-btn stretched-link" href={% url 'accounts:profile' sitter.pk %}></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}