body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
  }
  
  @font-face {
    font-family: ConcertOne;
    src: url(../fonts/ConcertOne-Regular.ttf);
  }
  
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
  }
  
  .content h1 {
    max-width: 1100px;
    font-family: ConcertOne;
    text-align: center;
    font-size: 60px;
    margin: 128px auto 0px auto;
    line-height: 0.9;
  }

  @media (min-width: 768px) {
    .content h1 {
      margin: 196px auto 0px auto;
    }
  }

  @media (min-width: 992px) {
    .content h1 {
      font-size: 90px;
    }
  }
  
  @media (min-width: 1200px) {
    .content h1 {
      font-size: 105px;
    }
  }
  
  .button_wrapper {
    margin-top: 80px;
  }
  
  .button_wrapper button {
    padding: 18px 0px;
    width: 230px;
    border: none;
    border-radius: 60px;
    font-size: 16px;
  }
  
  body {
    margin: 0px;
    font-family: montserrat;
  }
  
  .calentito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 25px auto;
    font-size: 32px;
    position: relative;
    font-family: ConcertOne;
  }
  
  .drop_menu{
      position: absolute;
      right: 0px;
      top: 22px
  }
  
  .drop_menu li:hover{
      color: white;
      background: #7764ED;
  }
  
  .drop_menu li:hover a{
      color: white;
      background: #7764ED;
  }
  
  .drop_menu ul{
      list-style: none;
  }
  .drop_menu li{
      font-size: 16px;
      border: 1px solid black;
      padding: 15px;
      text-align: center;
      background: white;
      width: 150px;
  }
  
  .drop_menu li:first-child{
      border-radius: 15px 15px 0px 0px;
  }
  
  .drop_menu li:last-child{
      border-radius: 0px 0px 15px 15px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-top: 20px;
  }
  
   a {
    text-decoration: none;
    color: black;
  }
  
  .nav {
      font-size: 20px;
  }
  
  
  .nav li:last-child {
    margin-left: 30px;
  }
  
  .content {
    margin-top: 100px;
  }

  .review {
    background: ;
  }
  
  .decscription_wrapper {
    min-width: 950px;
  }
  
  .decscription_wrapper input{
      border: none;
      font-size: 16px;
      font-family: montserrat;
      border-bottom: 1px solid black;
      width: 320px;
      padding-bottom: 5px;
  }
  
  .name {
    font-size: 48px;
    font-family: ConcertOne;
    margin: 0 0 10 0;
  }
  
  .header_description_wrapper{
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  
  .edit-sitter {
    float: right;
    font-family: montserrat;
    font-size: 16px;
    color: white;
    background: #ffb800;
    border-radius: 60px;
    border: none;
    width: 85px;
    height: 35px;
    margin-left: 60px;
  }

  .edit-client {
    float: right;
    font-family: montserrat;
    font-size: 16px;
    color: white;
    background: #7764ED;
    border-radius: 60px;
    border: none;
    width: 85px;
    height: 35px;
    margin-left: 60px;
  }
  
  .save {
      float: right;
      font-family: montserrat;
      font-size: 16px;
      color: white;
      background: #7764ED;
      border-radius: 60px;
      border: none;
      width: 85px;
      height: 35px;
      margin-left: 60px;
    }
  
  .small{
      color: #767676;
      font-size: 12px;
  }
  
  .raiting{
      font-size: 26px;
      margin-bottom: 18px;
  }
  
  .name_stars_wrapper{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: -20px;
      height: 47px;
  }
  
  .name_stars_wrapper p{
      font-size: 26px;
      margin-bottom: 0px;
  }
  
  .name_stars_wrapper img{
      width: 130px;
      height: 26px;
  }
  
  .review_background{
      position: absolute;
      max-width: 1201px;
      top: 0px;
      height: 120px;
      background: #7764ED;
      opacity: 15%;
  }
  
  .review_contant_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 8px;
      padding-left: 9px;
  }
  
  .data{
      padding-right: 40px;
  }
  
  .hr-client{
      background: #7764ED;
      height: 1px;
      border: none;
  }

  .hr-sitter{
    background: #FFB800;
    height: 1px;
    border: none;
}
  
  .comment{
      padding-left: 8px;
      padding-bottom: 20px;
  }
  
  .textarea{
      border: none;
      width: 952px;
      font-family: montserrat;
      resize: none;
      height: 60px;
  }
  
  .margin{
      margin-top: 50px;
  }
  
  .green_active{
      color: #20CA3B;
      margin-right: 40px;
  }
  
  .button_wrapper_p{
      margin-top: 23px;
  }
  
  .button_wrapper_p button{
      display: block;
      width: 100px;
      border: none;
      border-radius: 60px;
      background: #37CC73;
      color: white;
      padding: 7px;
      font-family: montserrat;
      font-size: 16px;
  }
  
  .delete_button{
      background: #DD4242;
  }
  
  .avatar {
      width: 200px; /*container-width*/
      height: 250px;
      object-fit: cover;
      object-position: center;
  }

  .pet-card {
    height: 250px;
    min-width: 200px;
  }
  
  .pet-card-img {
    height: 200px;
    background-position: center;
    background-size: cover;
  }

.content-404{
    text-align: center;
}

.content-404 h1{
  font-family: ConcertOne;
    font-size: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
    
}
.content-404 span{
  font-family: ConcertOne;
    font-size: 40px;
}
.content-404 p{
    width: 430px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.content-404 button{
    width: 230px;
    height: 60px;
    color: white;
    background: #7764ED;
    border-radius: 60px;
    border: none;
}

.logo {
  
  font-size: 32px;
}

h2 { 
  font-family: ConcertOne; 
  font-size: 66px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

h3{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 41px;
  margin: 0px;
}

.offer{
  margin-top: 315px;
  color: #ffffff;
  background: #7764ED;
  padding-top: 188px;
  padding-bottom: 193px;
}

.offer p{
  width: 570px;
  font-size: 26px;
}

.offer a{
  color: #FF710D;
  text-decoration: none;
}

.offer_text{
  display: flex;
  justify-content: space-between;
}

.best_sitters{
  margin-top: 188px;
}

.sitters{
  margin-top: 100px;
}

.cards-i{
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 50px 0px;
}

.card-i{
  width: 570px;
  height: 230px;
  background: #7764ED ;
  border-radius: 25px;
}

.content_card{
  float: right;
  padding-right: 27px;
  padding-top: 40px;
  font-size: 16px;
}
.card-i img{
  padding-left: 20px;
  padding-top: 17px;
}
.card-i p{
  width: 284px;
  padding-top: 26px;
  margin: 0px;
}
.card-i button{
  border-radius: 60px;
  background: #FF710D;
  color: #ffffff;
  border: none;
  width: 84px;
  height: 30px;
}

.under_content{
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  align-items: center;
}

.under_content button{
  font-size: 16px;
  font-family: montserrat;
}

.card_2{
  width: 570px;
  height: 230px;
  background: #7764ED ;
  border-radius: 25px;
  margin-left: 60px;
}

.card_2 img{
  padding-left: 20px;
  padding-top: 17px;
}
.card_2 p{
  width: 284px;
  padding-top: 26px;
  margin: 0px;
}
.card_2 button{
  border-radius: 60px;
  background: #FF710D;
  color: #ffffff;
  border: none;
  width: 84px;
  height: 30px;
}

.counter{
  width: 545px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;

}

.counter span{
  size: 14px;
  margin-top: 10px;
}

.webelieve{
  display: flex;
  justify-content: space-between;
  padding-top: 187px;
}
.webelieve p{
  width: 550px;
  margin-bottom: 0px;
  font-size: 26px;
}
.webelieve a{
  color: #FF710D;
  text-decoration: none;
}

.block4{
margin-top: 200px;
background: #7764ED;
color: #ffffff;
padding-bottom: 200px;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  color: #767676;
}

.footer a{
  color: black;
  text-decoration: none;
}