<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>Business Doggies{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="wrapper">
        {% if user.is_authenticated %}
            <div class="calentito container">
                <a href="{% url 'core:index' %}" class="nav-link logo">Bussiness Doggies</a>
                <nav class="nav nav-logo">
                    {% block header %}
                        
                        {% if user.is_client %}
                            <a href="#" class="nav-link">Find Sitter</a>
                            <a href="{% url 'accounts:profile' %}" class="nav-link client-link">{{ user.first_name }} {{ user.last_name }}</a>
                        {% elif user.is_sitter %}
                            <a href="#" class="nav-link">Find Sitter</a>
                            <a href="{% url 'accounts:profile' %}" class="nav-link sitter-link">{{ user.first_name }} {{ user.last_name }}</a>
                        {% elif user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="nav-link logout-link">Admin</a>
                        {% endif %}
                        
                    {% endblock header %}
                </nav>
            </div>

            {% if user.is_client %}
                <hr class="hr-client">
                <nav class="nav container">
                    <a href="#" class="nav-link">Proposals</a>
                    <a href="#" class="nav-link">Answers</a>
                </nav>
            {% elif user.is_sitter %}
                <hr class="hr-sitter">
                <nav class="nav container">
                    <a href="#" class="nav-link">Offers</a>
                    <a href="#" class="nav-link">Answered</a>
                </nav>
            {% elif user.is_superuser %}
                <hr class="hr-admin">
            {% endif %}
        {% else %}
            <div class="calentito container">
                <a href="{% url 'core:index' %}" class="nav-link">Logo</a>
                <nav class="nav">
                    <a href="{% url 'accounts:login' %}" class="nav-link">Log In</a>
                </nav>
            </div>
        {% endif %}
            
        {% block content %}{% endblock content %}
    {% if user.is_client %}
        <hr class="hr-client m-0">
    {% elif user.is_superuser %}
        <hr class="hr-admin m-0">
    {% else %}
        <hr class="hr-sitter m-0">
    {% endif %}
        <div>
        <div class="container">
          <div class="footer">
            <span>Developed by the team <a href="#"> IT Котики </a></span>
            <span>Copyright &copy; Business Doggies 2020</span>
          </div>
        </div>
      </div>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>