<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="stylesheet" type="text/css" href="css/styleform.css">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<title>forma</title>
</head>
<body>
	<div class="container">
			
		<div class="content">
				<h1 class="inro_title"></h1>

			<form>
				<input type="text"name="username" placeholder="name">
				<input type="Last name" name="Last name" placeholder="Last name">
				<input type="E-mail" name="E-mail" placeholder="E-mail">
				<input type="text" name="Password" placeholder="Password">

			</form>
				<div class="button_content">
					<button class="Sign up"></button>
				</div>
		</div>	
	</div>
</body>
</html>