<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="calentito">
        <div>Logo</div>
        <p class="menu">Valia Samoilova</p>
        <div class="drop_menu">
          <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <nav class="nav">
        <ul>
          <li><a href="#">Available</a></li>
          <li><a href="#">In review</a></li>
        </ul>
      </nav>
      <div class="rewiews margin">
        <div class="review">
          <div class="review_contant_wrapper">
            <div class="name_stars_wrapper">
              <p>Name Client</p>
            </div>
            <div class="green_active">Active</div>
          </div>
          <p class="comment">Minsk, 25.12.2020. 11:00</p>
          <div class="review_background"></div>
        </div>
        <div class="review">
          <div class="review_contant_wrapper">
            <div class="name_stars_wrapper">
              <p>Name Client</p>
            </div>
            <div class="green_active">Active</div>
          </div>
          <p class="comment">Minsk, 25.12.2020. 11:00</p>
        </div>
        <div class="review">
          <div class="review_contant_wrapper">
            <div class="name_stars_wrapper">
              <p>Name Client</p>
            </div>
            <div class="green_active">Active</div>
          </div>
          <p class="comment">Minsk, 25.12.2020. 11:00</p>
          <div class="review_background"></div>
        </div>
      </div>
    </div>
  </body>
</html>
