<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/header.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <div class="header_wrapper">
                    <div class="logo">logo</div>
                    <a class=reg>Log in</a>
                </div>
                <h1>Web application to manage her employees</h1>
                <div class="button_wrapper">
                    <button class="nanny">I’m a nanny</button>
                    <button class=client>I’m a client</button>
                </div>
            </header>
        </div>
    </div>
</body>
</html>