{% extends 'base.html' %}
  
{% block content %}
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <div class="header_wrapper">
                    <div class="logo">logo</div>
                    <a class="reg">Log in</a>
                </div>
                <h1>Web application to manage her employees</h1>
                <div class="button_wrapper">
                    <button class="nanny">I’m a sitter</button>
                    <button class="client">I’m a client</button>
                </div>
            </header>
        </div>
    </div>
{% endblock content %}