<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="calentito">
        <div>Logo</div>
        <p class="menu">Valia Samoilova</p>
        <div class="drop_menu">
          <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <nav class="nav">
        <ul>
          <li><a href="#">Available</a></li>
          <li><a href="#">In review</a></li>
        </ul>
      </nav>
      <div class="content">
        <div class="description">
          <img src="/img/avatar.png" />
          <div class="decscription_wrapper">
            <div class="header_description_wrapper">
              <p class="name">Valia Samoilova</p>
              <button class="edit">Edit</button>
            </div>
            <p class="small">City</p>
            <p>Minsk</p>
            <p class="small">E-mail</p>
            <p>Valiasamoilova@gmail.com</p>
            <p class="small">Description</p>
            <p>
              18 years old, student of BNTU, I love dogs very much, I have 2
              hounds myself, I will be glad if you choose me for this job, I
              love dogs very much and quickly find contact with them. I take a
              very responsible approach to walking, after a walk I can wash my
              paws and feed the dog. There was an experience. I can walk with
              any size of dog.
            </p>
          </div>
          <div class="reviews">
            <p class="raiting">Average rating: 4.5 / 5</p>
            <div class="review">
              <div class="review_contant_wrapper">
                <div class="name_stars_wrapper">
                  <p>Name Client</p>
                  <img src="./img/star.svg" />
                </div>
                <div class="data">12.04.2020</div>
              </div>
              <p class="comment">Great gob. Exelent talent.</p>
              <div class="review_background"></div>
            </div>
          </div>
          <div class="reviews">
            <div class="review">
              <div class="review_contant_wrapper">
                <div class="name_stars_wrapper">
                  <p>Name Client</p>
                  <img src="./img/star.svg" />
                </div>
                <div class="data">12.04.2020</div>
              </div>
              <p class="comment">Great gob. Exelent talent.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
