{% extends 'base.html' %}

{% block title %}Sign up{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div><h1 class="signup title">Welcome<br/> to our platform</h1></div>
            <form class="signup_client form">
                <div class="form-row">
                    <div class="col-md-6 col-12">
                        <input type="text" placeholder="Name" size="40">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" placeholder="Last name" size="40" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-12">
                        <input type="text" placeholder="E-mail" size="40">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" placeholder="City" size="40" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-12">
                        <input type="password" placeholder="Password" size="40">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="password" placeholder="Confirm Password" size="40">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-12">
                        <input type="text" placeholder="Animal" size="40">
                    </div>
                    <div class="col-md-6 col-12"></div>
                </div>
                <button type="submit" class="signup_client signup_btn">Sign up</button>
            </form> 
            <div class="signup underbutton">
                <span>Do you have an account?</span><a href="#" class="signup_client login_btn"> Log in</a>
            </div>   
        </div>
    </div>
{% endblock content %}